{% extends 'tmw/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
  <nav class="navbar navbar-default">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {% if active == 'sites' %}
        <li class="active" role="presentation"><a href="{% url 'index' %}">Sites</a></li>
        <li role="presentation"><a href="{% url 'sum' %}">Summary</a></li>
      {% else %}
        <li role="presentation"><a href="{% url 'index' %}">Sites</a></li>
        <li class="active"role="presentation"><a href="{% url 'sum' %}">Summary</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>{% block title %}(no title){% endblock %}</h1>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}(no content){% endblock %}
  </div>
{% endblock %}

